@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-first-rgb: 7, 19, 17;
  --background-second-rgb: 25, 73, 64;
  --background-third-rgb: 52, 92, 84;
  --background-fourth-rgb: 25, 73, 64;
  --background-fifth-rgb: 7, 19, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to right,
    rgb(var(--background-first-rgb)),
    rgb(var(--background-second-rgb)),
    rgb(var(--background-third-rgb)),
    rgb(var(--background-fourth-rgb)),
    rgb(var(--background-fifth-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
